body {
    padding-top: 80px;
    background: #F8F0E3;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

main::after {
    content: "";
    display: block;
    clear: both;
}

.item {
    background-color: beige;
    float: left;
    width: 22%;
    height: 320px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    font-size: 22px;
    box-sizing: border-box;
}

.item img {
    width: 100%;
    height: 160px;
    object-fit: contain;
}

.item h4 {
    margin: 10px 0 5px 0;
}

.item p {
    margin: 0;
    line-height: 1.4;
}
h3 >a{
    color:black;
    font-size:20px;
}